/.phpunit.cache
/node_modules
/coverage
/build
/public/build
/public/hot
/public/storage
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_store
.phpstorm.meta.php
_ide_helper.php
_ide_helper_*.php
/tests/Browser
